<div class="container">
 <div class="row"> 
  <div class="col-md-12 mx-auto my-2 text-center text-title">
   <h1 class="text-capitalize font-weight-bold">{{name}}
    <strong class="text-blue">{{title}}</strong>
   </h1>
    <div class="card-deck">
      <div class="col-md-3" *ngFor="let product of product">
        <div class="img-container p-5">
          <a routerLink="/detail/{{product.id}}"> 
          <img class="card-img-top" src={{product.img}} />
          </a>
      <button 
          *ngIf="product.inCart"
          class="cart-btn" 
          (click)="onClick(product.id)"
          [disabled]="product.inCart">
          inCart
        </button>
        <a *ngIf="!product.inCart"
           (click)="onSelect(product); 
           onClick(product.id);
           ">
          <span 
              class="fas fa-cart-plus cart-btn">
          </span>
        </a>
      </div> 
     
      <div class="card-footer d-flex justify-content-between">
        <p class="text-blue font-italic mb-0">{{product.title}}</p>
        <h5 class="text-blue font-italic mb-0">
        <span class="mr-1">${{product.price}}</span>
        </h5>
      </div>
     </div>
  </div>
 </div>
</div>
<app-model [data] = "tempProduct" ></app-model>

  
   
   