<nav class="navbar navbar-expand-sm styled-nav navbar-dark px-sm-5">
  <a routerLink=''>
    <img src="/src/assets/cell.jpg" height="40px" width="30px;" alt="store" />
  </a>
    <ul class="navbar-nav align-item-center">
      <li class="nav-item ml-5">
       <a routerLink='/product'class="nav-link">products</a>
       </li>
    </ul>
      <a routerLink='/cart' class="ml-auto">
        <button>
         <span class="fas fa-cart-plus styled-button">
         my cart
         </span>
        </button>
      </a>
</nav>
